body {
	background-image: url(../images/Brew.jpg);


}

.navbar-brand {
	font-size: 40px;
	color: white;
	text-shadow: 1px 1px 2px black, 0 0 25px brown, 0 0 5px saddlebrown;
}
/*.navbar-default {
	border-color: #3e59db;
}
*/.navbar-nav {
	color: white;
	text-shadow: 1px 1px 2px black, 0 0 25px brown, 0 0 5px saddlebrown;
}

.dropdown-toggle {
	color: white;
	text-shadow: 1px 1px 2px black, 0 0 25px brown, 0 0 5px saddlebrown;
}

h1 {
	width: 200px;
	font-size: 50px;
    position: absolute;
    margin-top: 5px;
    padding: 5px;
    left: 0;
    top: 10%;
    width: 100%;
    text-align: center;
	color: white;
	text-shadow: 5px 5px 6px grey, 0 0 25px brown, 0 0 5px saddlebrown;
}

.text-right {
	text-align: center;
	margin-top: 50px;
	margin-left: 100px;
	padding: 30px;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 18px;
	color: white;
	text-shadow: 5px 5px 6px black, 0 0 25px brown, 0 0 5px saddlebrown;
}

#target {
	padding: 4px;
	background-color: grey;
	border-color: saddlebrown;
	border-style: blur;

}

.glyphicon-chevron-up {
	font-size: 15px;
	color: white;
	text-shadow: 1px 1px 2px black, 0 0 25px brown, 0 0 5px saddlebrown;
	text-align: center;
}

#contact_form {
	width: 400px;
	height: 300px;
	margin-top: 100px;
	margin-left: 60px;
}
label {
	font-size: 15px;
	color: white;
	text-shadow: 1px 1px 2px black, 0 0 25px brown, 0 0 5px saddlebrown;
}
.btn-md {
	background-color: #4d4141;
	color: white;
	text-shadow: 3px 3px 4px black, 0 0 25px brown, 0 0 5px saddlebrown;
}

.search-body {
	float: left;
	margin-top: 265px;
	margin-left: 0;
	position: absolute;
    display: inline-block;
    padding: 25px;
    background-position: left;
}

#map {
	height: 450px;
	width: 600px;
	float: left;
	margin-top: 65px;
	margin-bottom: 125px;
	position: fixed;
    display: inline-block;
    border: 2px solid #ddd;
    border-radius: 4px;
    padding: 20px;
    transition: 0.3s;
    background-position: left;
}

div.container {
	margin-left: 50px;
	margin-right: 50px;
}
#bottom-section {
	height: 100px;
	position: fixed;
	right: 0;
	left: 0;
	bottom: 0;
	background: #313131;
	text-align: center;
	color: white;
	text-shadow: 1px 1px 2px black, 0 0 25px brown, 0 0 5px saddlebrown;
	background-size: cover;
	background-position: center;
}

.copyright {
	margin-left: 125px;
	margin-right: 50px;
	padding-top: 10px;
}

#backTop {
	margin-left: 130px;
	margin-right: 50px;
	padding-bottom: 10px;
	text-align: center;
}

@media only screen and (max-width: 980px) {
	.container {
		padding: 0 20px;
		max-width: 500px;
		text-align: center;
		width: 100%;
	}
	input {
		width: 100%;
	}
	h1 {
		width: 100%;
	}
	#map {
		width: 100%;
		margin-bottom: 20px;
		margin-top: 10px;
	}
	#search {
		width: 100%;
		margin: 0 0 15px 0; 
	}

	.search-body {
		width: 100%;
		margin: 0 0 15px 0; 
	}
}
